<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcedar.sdahyoruba" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Sync -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Sync Service -->

    <permission
        android:name="com.jcedar.sdahyoruba.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jcedar.sdahyoruba.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- android:name=".app.VisiBook" -->
    <application
        android:name=".app.SdahYoruba"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Gardener" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.jcedar.sdahyoruba.provider"
            android:exported="false"
            android:syncable="true" />
        <provider
            android:name=".provider.SuggestionProvider"
            android:authorities="com.jcedar.sdahyoruba.provider.SuggestionProvider" />



        <activity
            android:name=".ui.NewDashBoardActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.com.jcedar.sdahyoruba.provider.hymns" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GoogleSignIn"
            android:label="SDAH Yoruba" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.jcedar.sdahyoruba" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentServices" />

        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Gardener" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NewDashBoardActivity" />
        </activity>
        <activity android:name=".provider.AndroidDatabaseManager" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="SDAH Yoruba"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
